body{
    background-color: #3b3b3a
}

table{
    margin: 100px auto;
    border-collapse: collapse;
    border: 1px solid black;
    font-family: "Roboto Light", serif;
    width: 100%;
    background-color: #575757;
}
th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
    background-color: #303030;
    font-family: "Roboto Light", serif;
    color: white;

}
input{
    border-collapse: collapse;
    border: 1px solid black;
    background-color: #303030;
    color: white;
    padding:4px 8px;
    max-height: 10px;
    min-height: 1px;
    max-width: 200px;
    min-width:20px;
}
